{% extends "shared/base.html" %}

{% block title %}UBER EATS{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('css', path='/style.css') }}">
{% endblock %}

<a id="button"></a>

<body>

    {% block content %}
        <main>
            <div class="wraper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="main_title">
                            <h1>Рестораны в Москве</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/Makdonalds_Gazetnyi.svg') }}" alt="Makdonalds_Gazetnyi"
                                    style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">Макдоналдс — Газетный</div>
                                    <div class="card_kitchen">₽₽ • Бургеры</div>
                                    <div class="card_time">25 - 35 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/Dim_Sum.svg') }}" alt="Dim_Sum" style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">DimSum & Co — ЦДМ</div>
                                    <div class="card_kitchen">₽ • Японская • Китайская • Азиатская</div>
                                    <div class="card_time">40 - 50 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/Dvizhok.svg') }}" alt="Dvizhok" style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">ДвижОК — Манежная></div>
                                    <div class="card_kitchen">₽ • Американская • Европейская</div>
                                    <div class="card_time">35 - 45 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/Nha.svg') }}" alt="NHA" style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">НЯ — NHA</div>
                                    <div class="card_kitchen">₽₽ • Вьетнамская</div>
                                    <div class="card_time">30 - 40 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/Tochka_Dzi.svg') }}" alt="T_Dzi" style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">Точка Дзы — Цветной></div>
                                    <div class="card_kitchen">₽₽ • Вьетнамская</div>
                                    <div class="card_time">40 - 50 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/Cinnabon.svg') }}" alt="Cinnabon" style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">Cinnabon></div>
                                    <div class="card_kitchen">₽ • Выпечка • Десерты • Капкейки</div>
                                    <div class="card_time">25 - 35 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/Pizzelove.svg') }}" alt="PIZZELOVE" style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">PIZZELOVE></div>
                                    <div class="card_kitchen">₽₽ • Пицца</div>
                                    <div class="card_time">15 - 25 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/Zyu.svg') }}" alt="Zyu" style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">Zю кафе — Тверская></div>
                                    <div class="card_kitchen">₽₽ • Японская</div>
                                    <div class="card_time">25 - 35 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="pushkin.html" class="rest_link" target="#">
                            <div class="card">
                                <img src="{{ url_for('img', path='/BQ.svg') }}" alt="BQ" style="width:100%">
                                <div class="card_container">
                                    <div class="card_restaurent">Bar BQ Cafe — Манежная></div>
                                    <div class="card_kitchen">₽₽₽ • Европейская</div>
                                    <div class="card_time">30 - 40 мин</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
    
    {% include '/components/to_top.html' %}
    
</body>

</html>