<footer>
    <div class="footer_wraper">
        <div class="wraper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="footer_logo">
                        <a href="#" class="footer_logo_link">
                            <img src="{{ url_for('img', path='/footer-logo.svg') }}" alt="Logo" class="footer_logo_pic">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="footer_underlogo_line">
                        <hr>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="select_language">
                        <img src="{{ url_for('img', path='/world.svg') }}" alt="">
                        <select name="lang" id="lang">
                            <option value="ru">Русский</option>
                            <option value="en">Английски</option>
                            <option value="kz">Казахтанский</option>
                            <option value="pol">Польский</option>
                        </select>
                    </div>
                    <div class="footer_social">
                        <div class="hashtag">
                            <p>
                                <span class="hash">#</span><span class="tag">UberEats</span>
                            </p>
                        </div>
                        <div class="social_icons">
                            <a href="#" class="social_fb">
                                <img src="{{ url_for('img', path='/facebook.svg') }}" alt="FB" class="facebook_pic">
                            </a>
                            <a href="#" class="social_twitter">
                                <img src="{{ url_for('img', path='/twitter.svg') }}" alt="twitter" class="twitter_pic">
                            </a>
                            <a href="#" class="social_instagram">
                                <img src="{{ url_for('img', path='/instagram.svg') }}" alt="Logo" class="instagram_pic">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="footer_info">
                        <p><a href="#">Об UberEats</a></p>
                        <p><a href="#">Станьте партнёром по доставке</a></p>
                        <p><a href="#">Станьте парнёром-рестораном</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="footer_info">
                        <p> <a href="#">Все города</a></p>
                        <p> <a href="#">Цены</a></p>
                        <p> <a href="#">Помощь</a></p>
                        <p> <a href="#">FAQs</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="footer_underlogo_line">
                        <hr>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="footer_downloads">
                        <div class="dlink">
                            <a href="#"><img src="{{ url_for('img', path='/App_Store.png') }}" alt="" /></a>
                        </div>
                        <div class="dlink">
                            <a href="#"><img src="{{ url_for('img', path='/Gplay.png') }}" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="footer_underlogo_line">
                        <hr />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="footer_info">
                        <p><a href="#"> © 2017 Uber Technologies Inc.</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="footer_info">
                        <p><a href="#"> Обработка персональных данных</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="footer_info">
                        <p><a href="#"> Пользовательское соглашение</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>