<div class="header">
    <div class="wraper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="header_wraper">
                    <div class="header_logo">
                        <a href="#" class="header_logo_link">
                            <img src="{{ url_for('img', path='/logo.svg') }}" alt="Uber Eat" class="header_logo_pic">
                        </a>
                    </div>
                    <div class="heder_items">
                        <div class="header_button">
                            <button class="enter_button">Войти</button>
                        </div>
                        <div class="header_basket hidden-xs">
                            <a href="#" class="header_basket_link">
                                <img src="{{ url_for('img', path='/basket.svg') }}" alt="Basket"
                                    class="header_basket_pic">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>